/**
* Nav
*/

  
.navbar {
    text-transform: uppercase;
    background-color: grey;
}
#main-navbar{
    margin: 5px 20px;
}


.nav-item
strong{
    margin-left: 200px;
}
/**
* Footer 
*/

.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}

/**
* Bulma overrides
*/

.input, .button, .textarea {
    border-radius: 10px;
}

/**
 * Product list item
 */
.box{
    border-radius: 15px;
}
.product-list-item .box #subtitle {
    margin-bottom: 5px;
}

.product-list-item .box #price {
    color: red;
}

/**
* Notification toast
*/

@keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -100%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 4s;
}

/**
 * Product list item
 */


#dealer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}
.field  #mobile{
    text-align: center;
}

.product-list-item .box .subtitle {
    margin-bottom: 0;
}
.product-list-item .box .price {
    color: #888;
}



@media screen and (max-width: 950px){
    .field  #mobile{
    text-align: center;
}
    input{
    width: 55vw;
}
}


@media screen and (min-width: 700px){
    .field  #mobile{
    text-align: center;
}
    input{
    width: 30vw;
}
}

@media screen and (min-width: 1400px){
    .field  #mobile{
    text-align: center;
}
    input{
    width: 15vw;
}
    /* section {
    max-width: .5vw
} */
}



@media screen and (max-width: 500px){
    .table-container,
    td,
    th{
    font-size: 11px;
}
}


.box1{
    transition: box-shadow .5s;
    border: 1px solid #ccc;
    background: #fff;
}
#box2 {
    box-shadow: 0 500px 5555px 5555px rgba(0, 0, 0, .7);
}

.box1:hover {
    box-shadow: 0 0 11px 11px black; 
}

.fixx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    overflow:hidden;

}
#noneBackground{
    background-color: white;
    border-radius: 15px;
    max-width: 28rem;
    padding: 20px;

}
.book{
   background-color: white;
   padding: 30px;
   margin-bottom: 10px;
   border-radius: 15px;
}

#payment-form{
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

#body {
    width: 100%;
    /* height: 70vh; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 65s linear infinite 0s;
    animation-timing-function: ease-in-out;
    /* animation-timing-function: linear; */
  
   
}
@keyframes slideBg {
    0%{
        background-image: url('/static/background_images/apache.jpg');
    }
    10%{
        background-image: url('/static/background_images/b2.jpg');
    }
    20%{
        background-image: url('/static/background_images/F-16V.jpeg');
    }
    30%{
        background-image: url('/static/background_images/sr71-2.jpg');
    }
    40%{
        background-image: url('/static/background_images/f-35.jpg');
    }
    50%{
        background-image: url('/static/background_images/sr71.jpg');
    }
    60%{
        background-image: url('/static/background_images/a10_blueprint.jpg');
    }
    70%{
        background-image: url('/static/background_images/266707.jpg');
    }
    80%{
        background-image: url('/static/background_images/f16.jpg');
    }
    90%{
        background-image: url('/static/background_images/b2.jpg');
    }
    100%{
        background-image: url('/static/background_images/f-35.jpg');
    }
}