/**
* Nav
*/

.navbar {
    text-transform: uppercase;
}

    .navbar .is-dark {
        background: #444;
    }

/**
* Footer 
*/

.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}

/**
* Bulma overrides
*/

.input, .button, .textarea {
    border-radius: 10px;
}

/**
 * Product list item
 */

.product-list-item .box #subtitle {
    margin-bottom: 5px;
}

.product-list-item .box #price {
    color: red;
}

/**
* Notification toast
*/

@keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -100%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 4s;
}

/**
 * Product list item
 */


#dealer{

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.field  #mobile{
    text-align: center;
}

 .product-list-item .box .subtitle {
    margin-bottom: 0;
}
.product-list-item .box .price {
    color: #888;
}

@media screen and (max-width: 950px){
    .field  #mobile{
    text-align: center;
}
    input{
    width: 55vw;
}

}



@media screen and (min-width: 955px){
    .field  #mobile{
    text-align: center;
}
    input{
    width: 30vw;
}
}

@media screen and (min-width: 1875px){
    .field  #mobile{
    text-align: center;
}
    input{
    width: 15vw;
}
}


.box{
    transition: box-shadow .5s;
    border: 1px solid #ccc;
    background: #fff;
}

.box:hover {
    box-shadow: 0 0 11px rgba(10, 19, 42, 0.897); 
  }

