{% extends 'core/base.html' %}
{% block title %}Welcome | commercial web{% endblock %}
{% block content %}
<div class="columns is-multiline mb-6">
    <div class="column is-12 has-text-centered mt-6 mb-6">
        <!-- <h2 class="is-size-1">The Road Is Awaking</h2> -->

        <div class="deconstructed" id="deconstructed">
            The Road Is Awake
            <div>The Road Is Awake</div>
            <div>The Road Is Awake</div>
            <div>The Road Is Awake</div>
            <div>The Road Is Awake</div>
          </div>
    </div>


    {% for product in newest_products %}
        {% include 'product/parts/list_item.html' %}
    {% endfor %}
</div>
{% endblock %}