{% extends 'core/base.html' %}
{% block title %}{product.title} | commercial web{% endblock %}
{% block content %}
<div id="productapp"  class="has-background-info-light" >
    {% if product.image %}
    <figure class="image is-3by2 mb-6">
        <img src="{{ product.image.url }}">
        <!-- <img :src="mainImage.image"> -->
    </figure>
{% endif %}

<!-- {% if product.images.all %}
<hr>
<div class="columns">
    <div class="column is-2" v-for="image in images" v-bind:key="image.id">
        <img :src="image.thumbnail" @click="changeMainImage(image)">
    </div>
</div>
{% endif %} -->

<div style="padding: 5px 40px 0 ; border-radius: 15px;">
<h1 class="title"><span class="tag is-dark is-large">PRODUCT'S NAME:</span><br> {{ product.title }}</h1>
<h1 class="title"><span class="tag is-dark is-large">PRICE:</span><br> ${{ product.price }}</h1>
<h1 class="title"><span class="tag is-dark is-large">DEALER: </span><br> {{ product.vendor.name }}</h1>
<h1 class="title"><span class="tag is-dark is-large">PRODUCT'S DESCRIPTION</span><br> {{ product.description }}</h1>

<hr>
{% if messages %}
{% for message in messages %}
    <div class="notification is-success is-toast">{{ message }}</div>
{% endfor %}
{% endif %}
</div>
</div>

<form method="POST">
    {% csrf_token %} {{ form.as_p }}

<div class="field has-addons">
    <div class="control">
        <input type="number" name="quantity" value="1" class="input" min="1">
    </div>

    <div class="control">
        <button class="button is-dark is-uppercase" > Add to cart</button>
    </div>
</div>
</form>





{% if similar_products %}
<hr>
<div class="columns is-multiline">
    <div class="column is-12">
        <h2 class="subtitle has-background-info-light is-uppercase" style="padding: 20px; border-radius: 15px;font-weight: bold;">Similar products</h2>
    </div>
    {% for product in similar_products %}
        {% include 'product/parts/list_item.html' %}
    {% endfor %}
    </div>
    {% endif %}


{% endblock %}

<!-- {% block scripts %}
{{ imagesstring|json_script:"json-imagesstring" }}
<script src="http://unpkg.com/vue@next"></script>
<script>
    const ProductApp = {
        data() {
            return {
                mainImage: '',
                images: []
            }
        },
        mounted() {
            this.images = JSON.parse(JSON.parse(document.getElementById("json-imagesstring").textContent))
            this.mainImage = this.images[0]
        },
        methods: {
            changeMainImage(image) {
                this.mainImage = image
            }
        }
    }

    Vue.createApp(ProductApp).mount('#productapp')
</script>
{% endblock %} -->